/* .container {
  width: 200px;
  height: 200px;
  background-color: green;
} */

.square {
  width: 100px;
  height: 100px;
  background-color: black;
}

.rounded {
  border-radius: 50px;
}

.triangle {
  border-top: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid blue;
  border-left: 50px solid transparent;
}

.transition {
  transition: all 1s;
}
